<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create New Course</h1>
    <form action="/course" method="post">
        <div>
        <label for="coursename">What is the name of the course?</label>
        <input name="coursename" type="text"/>
    </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>