<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>
    <div class="linkback">
    <a class="link" href="/home">Home</a>
    <p class="link1"> Create New Course</p>
    </div>
    <div class="back">
    <h1 class="heading">Create New Course</h1>
    <form action="/course" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div>
        <label class="label" for="coursename">What is the name of the course?</label>
        <br>
        <input class="input" name="coursename" type="text"required />
        </div>
        <button class="button" type="submit">Create</button>
    </form>
   </div>
</body>
</html>