<div>
    <div style="width: 70px; margin-bottom: 30px;">
    <a href="/createcourse" class="cardbutton" > <button  style="width: 150px; padding-bottom: 3px; "> Create Course</button> </a>
    </div>
    <div style="width: 60px; margin-bottom: 30px;">
        <a href="/myreport" class="cardbutton" > <button  style="width: 150px; padding-bottom: 3px; "> My report</button> </a>
    </div>
    <div style="width: 60px; margin-bottom: 30px; ">
    <a href="/myreport" class="cardbutton"><button style=" margin-bottom: 30px;  width: 150px; height: 40px;">My report</button></a>
</div>
</div>