<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= chaptername %></h1>
    <hl/>
    <p>Pages</p>
    <form action="/page" method="post" >
        <input type="hidden" type="text" name="coursename" value="<%= coursename %>" />
        <button type="submit">Create a new pages</button>
    </form>
</body>
</html>