<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://kit.fontawesome.com/5bf97c92e0.js" crossorigin="anonymous"></script>
    <title>LMS</title>

    <script>

        var token =document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
        
        function enrolling(p) {
            var o =p.getAttribute("data")
            var t=p.getAttribute("data1")
            alert("enrolling to course: " +o)
            fetch('/enroll',{
                method: "post",
                headers: {"Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf":token,
                    coursename:o ,
                    author:t
                }),
            })
            .then((res) =>{
                if(res.ok){
                window.location.reload();
                }
                else{
                    alert("Already register")
                    window.location.reload();
                }
            })
            .catch((err) =>{ 
                alert("Already register")
            })
            }  

    </script>
</head>
<body>
    <div style="display: flex; flex-direction: row;">
    <h1 class="heading">Welcome <%= user %></h1>
    <div style="display: flex; flex-direction: row; justify-content: end; width: 1200px; margin: 2px;">
    <a href="/signout" class="author" style="background-color:rgba(128, 128, 128, 0.344); padding-left: 2px; padding-right: 2px; width: 100px; text-align: center; border-radius: 5px; margin-right: 10px;">Signout</a>
    <a href="/changepasswordpage" class="author" style="background-color:rgba(128, 128, 128, 0.344); padding-left: 2px; padding-right: 2px; width: 150px; text-align: center; border-radius: 5px;">Change Password</a>    
</div>
    </div>
    <% if(role=="educator"){ %>
    <%- include('createcourse.ejs') %> 
    <% } %>
    <%- include('courselist.ejs') %>
</body>
</html>