<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/page" method="post">
    <input type="hidden" value="<%= coursename %>" name="coursename" />
    <h1><%= pagenamename %></h1>
    <p><%= page %></p>
    <button>Create new Page</button>
    </form>
</body>
</html>