.link{
    color: black;
    background-color: rgba(128, 128, 128, 0.141);
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Roboto';
    margin: 2px;
    margin-right: 8px;
    padding: 5px;
    cursor: pointer;
    font-style: italic;
}
.linkback{
    display: flex;
    flex-direction: row;
}

.heading{
    color: #000;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
}

.label{
    color: #000;
    font-family: sans-serif;
    
}

.input{
    margin-top: 10px;
    width: 500px;
    height: 25px;
    margin-bottom: 10px;
    border-color: #000;
    border-style: solid;
}

.content{
    width: 500px;
    height: 300px;
    
}

.button{
    color: #000;
    width: 100px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.141);
    margin-top: 20px;
    border-color: rgba(128, 128, 128, 0.562);
    border-radius: 3px;
    cursor: pointer;
}

.back{
    margin-left: 50px;
}

.contents{
    color: #000;
    margin: 30px;
    width: 700px;
    text-align: justify;
    line-height: 1.5;
    font-family: serif;
    font-size: 17px;
    background-color: rgba(211, 211, 211, 0.153);
    padding: 20px;
}

.list{
    color: #000;
    font-size: 16px;
    list-style-type: circle;
}

.cards{
    background-color: rgba(128, 128, 128, 0.214);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.296);
    width: 350px;
    margin-right: 200px;
    margin: 50px;
}

.head{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 20px;
}

.author{
    color: #000;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 25px;
}

.icon{
    color: black;
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.number{
    color: #000;
    font-size: 17px;
    margin-left: 15px;
    font-style: italic;
    margin-bottom: 25px;
}

.cardbutton{
    color: #000;
    background-color: rgba(128, 128, 128, 0.37);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.cardbutton:hover{
    border-color:  rgba(16, 15, 15, 0.43);
    border-style: solid;
    border-width: 2px;
}